.git
.git/**
**/node_modules
**/vendor
**/coverage
**/.phpunit.cache
**/.env.local
**/.env.*.local
/.env
/infra/docker/.env
/core/crud-skeleton/.env*
/core/crud-skeleton/tests
/business/backend/**/tests
/integration/backend/tests
/apps
/var
/dist
/docs
*.log
.DS_Store
