<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../core/crud-skeleton/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="../../var/cache/phpunit/backend">
    <testsuites>
        <testsuite name="Business integration">
            <directory>tests</directory>
            <directory>../../business/backend/Note/tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
